In [133]:
import pandas as pd
import numpy as np

data = pd.read_csv('data_test.csv', sep=';')
data.columns = ['eventID', 'Person_1', 'Person_2']
data

      eventID                        Person_1                         Person_2
0         189  Галчевская Карина Владимировна  Белоновская Анастасия Семеновна
1         206         Офицеров Олег Романович        Сапожник Борис Валерьевич
2         445     Жандарова Лариса Германовна       Чемодуров Дамир Русланович
3         503          Масимова Яна Дамировна   Мингажетдинов Рамиль Семенович
4         571       Мухтарова Алена Яковлевна      Щербатенко Ольга Робертовна
...       ...                             ...                              ...
4995   999333      Осташов Владимир Данилович          Чалов Илья Владимирович
4996   999360  Гандыбина Любовь Александровна              Мерлин Илья Юрьевич
4997   999403      Востоков Виктор Ильдарович          Аликас Никита Андреевич
4998   999405      Огарева Людмила Ильдаровна       Нагайцева Алина Степановна
4999   999878    Ряполовский Георгий Петрович         Жилейкин Виктор Павлович

[5000 rows x 3 columns]

In [200]:
# Проверка на наличие отсутствующих значений
if data.isnull().sum().all() == 0:
    print('good')
else:
    print('not good ')

good

In [176]:
# Вывод индексов дублирующихся элементов по заданному столбцу/столбцам
def find_duples(data, subset=data.columns):
    if isinstance(data, pd.DataFrame):
        indexes = []
        rows = []
        dupl_rows = data.duplicated(subset=subset, keep=False)
        for index, row in enumerate(dupl_rows):
            if row == True:
                indexes.append(index)
        return pd.DataFrame(data.loc[indexes, :], columns=subset)

In [189]:
eventID_duples = find_duples(data, ['eventID'])
person_1_duples = find_duples(data, ['Person_1'])
person_2_duples = find_duples(data, ['Person_2'])

In [191]:
pd.DataFrame(data['eventID']).join(person_1_duples, how='inner') #заджойнил

      eventID                   Person_1
221     42389   Ахромеева Алина Ивановна
275     53707   Ахромеева Алина Ивановна
308     59801   Ахромеева Алина Ивановна
320     61824   Ахромеева Алина Ивановна
344     66267  Башнина Антонина Глебовна
...       ...                        ...
4370   875321   Шолохов Игорь Робертович
4392   879195   Ахромеева Алина Ивановна
4424   885195  Диомидов Игорь Ильдарович
4540   906600  Диомидов Игорь Ильдарович
4592   918855  Башнина Антонина Глебовна

[76 rows x 2 columns]

In [193]:
data.loc[person_2_duples.index,:] # находим объекты в исходном датасете по индексам дубликатов

      eventID                      Person_1                          Person_2
453     87253   Кондратьев Борис Германович        Медведева Дарья Алексеевна
552    109281       Безгачий Денис Ефимович        Медведева Дарья Алексеевна
989    196243   Помыкалова Тамара Федоровна        Медведева Дарья Алексеевна
1109   218462      Шолохов Игорь Робертович  Двигубская Валентина Геннадьевна
1631   327044  Дуброва Анжелика Григорьевна        Медведева Дарья Алексеевна
2882   580478      Пчелинцев Артур Глебович        Медведева Дарья Алексеевна
3760   750824   Торгунаков Роман Кириллович          Шолохов Игорь Робертович
4012   798803    Дорожкин Анатолий Егорович  Двигубская Валентина Геннадьевна
4169   829652       Пафомова Кира Вадимовна          Шолохов Игорь Робертович