In [64]:
import pandas as pd

data = pd.read_csv('data_test.csv', sep=';')
data.columns = ['eventID', 'Person_1', 'Person_2']
data.head()

   eventID                        Person_1                         Person_2
0      189  Галчевская Карина Владимировна  Белоновская Анастасия Семеновна
1      206         Офицеров Олег Романович        Сапожник Борис Валерьевич
2      445     Жандарова Лариса Германовна       Чемодуров Дамир Русланович
3      503          Масимова Яна Дамировна   Мингажетдинов Рамиль Семенович
4      571       Мухтарова Алена Яковлевна      Щербатенко Ольга Робертовна

In [59]:
data.duplicated(subset=['eventID'], keep=False).sum()

30

In [69]:
dupl_rows = data.duplicated(subset=['eventID'], keep=False)
indexes = []
for index, row in enumerate(dupl_rows):
    if row == True:
        indexes.append(index)
data.loc[indexes].head(10)

      eventID                      Person_1                        Person_2
366     70049       Яшина Полина Евгеньевна  Герасимовская Ксения Дамировна
367     70049     Федова Анжелика Вадимовна    Вальдовский Альберт Ефимович
486     92995      Журик Альберт Евгеньевич      Бадьянова Римма Максимовна
487     92995     Кучеренко Ирина Ильинична      Болтик Григорий Максимович
597    117280    Волынский Кирилл Федорович       Гайсумов Виктор Тимурович
598    117280   Уточкин Евгений Анатольевич        Каганович Лилия Петровна
899    177407  Зелинский Геннадий Артурович        Зазорин Вадим Аркадьевич
900    177407    Бужанинов Руслан Артурович      Сороковой Герман Маратович
1798   358194       Ноева Галина Степановна      Серпухова Алла Ярославовна
1799   358194        Долгих Лилия Вадимовна     Брусенцова Дарья Михаиловна

In [70]:
data.duplicated(subset=['Person_1'], keep=False).sum()

76

In [71]:
dupl_rows = data.duplicated(subset=['Person_1'], keep=False)
indexes = []
for index, row in enumerate(dupl_rows):
    if row == True:
        indexes.append(index)
data.loc[indexes].head(10)

     eventID                    Person_1                           Person_2
221    42389    Ахромеева Алина Ивановна            Ящукова Любовь Ефимовна
275    53707    Ахромеева Алина Ивановна         Тяжлов Ринат Владиславович
308    59801    Ахромеева Алина Ивановна      Соломеина Кристина Георгиевна
320    61824    Ахромеева Алина Ивановна           Дудыкина Мария Романовна
344    66267   Башнина Антонина Глебовна       Павлючиков Максим Филиппович
471    89429    Ахромеева Алина Ивановна       Щенников Дмитрий Григорьевич
476    90615    Ахромеева Алина Ивановна       Камчадалов Артем Ярославович
508    99439     Пафомова Кира Вадимовна  Ляуданский Валентин Владиславович
642   128413    Ахромеева Алина Ивановна           Сайденов Иван Валерьевич
667   132775  Зимнухова Карина Даниловна           Леканова Тамара Ивановна

In [72]:
data.duplicated(subset=['Person_2'], keep=False).sum()

9

In [73]:
dupl_rows = data.duplicated(subset=['Person_2'], keep=False)
indexes = []
for index, row in enumerate(dupl_rows):
    if row == True:
        indexes.append(index)
data.loc[indexes].head(10)

      eventID                      Person_1                          Person_2
453     87253   Кондратьев Борис Германович        Медведева Дарья Алексеевна
552    109281       Безгачий Денис Ефимович        Медведева Дарья Алексеевна
989    196243   Помыкалова Тамара Федоровна        Медведева Дарья Алексеевна
1109   218462      Шолохов Игорь Робертович  Двигубская Валентина Геннадьевна
1631   327044  Дуброва Анжелика Григорьевна        Медведева Дарья Алексеевна
2882   580478      Пчелинцев Артур Глебович        Медведева Дарья Алексеевна
3760   750824   Торгунаков Роман Кириллович          Шолохов Игорь Робертович
4012   798803    Дорожкин Анатолий Егорович  Двигубская Валентина Геннадьевна
4169   829652       Пафомова Кира Вадимовна          Шолохов Игорь Робертович

In [76]:
data.duplicated(subset=['Person_1', 'Person_2'], keep=False).sum()

0